name: Nightly Debug Build & Distribution

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

env:
  FIREBASE_APP_ID_DEBUG: ${{ secrets.FIREBASE_APP_ID_DEBUG }}
  FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
  APK_PATH: app/build/outputs/apk/debug/app-debug.apk
  GOOGLE_SERVICES_JSON_DESTINATION: app/google-services.json

jobs:
  build_and_deploy_debug:
    runs-on: ubuntu-latest
    env:
      AUTHORIZATION_TOKEN: ${{ secrets.AUTHORIZATION_TOKEN }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Decode Google Services JSON
        run: echo "${{ secrets.FIREBASE_GOOGLE_SERVICES_JSON_BASE64 }}" | base64 --decode > ${{ env.GOOGLE_SERVICES_JSON_DESTINATION }}
        env:
          FIREBASE_GOOGLE_SERVICES_JSON_BASE64: ${{ secrets.FIREBASE_GOOGLE_SERVICES_JSON_BASE64 }}

      - name: Get current date for versioning (YYMMDD)
        id: date
        run: |
          # Format: YYMMDD (Last two digits of Year, Month, Day)
          # Example (June 28, 2025): 250628
          echo "NIGHTLY_DATE_CODE=$(date +'%y%m%d')" >> "$GITHUB_OUTPUT"

      - name: Generate nightly build
        run: ./gradlew assembleDebug -PversionNameSuffix=${{ steps.date.outputs.NIGHTLY_DATE_CODE }} -PversionCode=${{ steps.date.outputs.NIGHTLY_DATE_CODE }}

      - name: Upload nightly build APK to the firebase app distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ env.FIREBASE_APP_ID_DEBUG }}
          token: ${{ env.FIREBASE_TOKEN }}
          groups: testers
          releaseNotes: 'Nightly debug build from GitHub Actions. Built on ${{ github.event.release.tag_name || github.ref_name }} on ${{ github.event.repository.name }}.'
          file: ${{ env.APK_PATH }}